* text=auto

*.rs text eol=lf
*.s text eol=lf
*.bn text eol=lf
*.mdx text eol=lf
*.md text eol=lf
*.js text eol=lf
*.json text eol=lf
*.toml text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.exe binary
